.shadow {
  box-shadow: 0 1em 1em -1em #414141;
}

.blueBackground {
  background-color: #017efe;
}

.blueBar {
  display: flex;
  justify-content: space-between;
}

.section {
  flex-grow: 1;
}

.titleMargin {
  margin-top: 2%;
  margin-bottom: 2%;
}

.topBar .rightSection {
  display: flex;
  justify-content: right;
  align-items: center;
}

.trialButton {
  padding: 0.5em;
  margin-left: 1em;
}

.greyBackground {
  background-color: #414141;
}

.popular {
  padding-top: 1%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1%;
}
