.blueBackground {
  background-color: #017efe;
}

.colorWhite {
  color: white;
}

.titleMargin {
  margin-top: 2%;
  margin-bottom: 2%;
}

.topBar .rightSection {
  display: flex;
  justify-content: right;
  align-items: center;
}

.max {
  max-width: 80%;
  margin: auto;
}

.blueBar {
  display: flex;
  justify-content: space-between;
}

.greyBackground {
  background-color: #414141;
}

.shadow {
  box-shadow: 0 1em 1em -1em #414141;
}

.popular {
  padding-top: 1%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1%;
}

.section {
  flex-grow: 1;
}

.link {
  text-decoration: none;
  color: white;
}

.trialButton {
  padding: 0.5em;
  margin-left: 1em;
}

.footerList {
  list-style: none;
  padding-left: 0;
}

.footer {
  background-color: #1e1e1e;
}

.footerPadding {
  padding-top: 2%;
  padding-bottom: 3%;
}

.copyrightPadding {
  padding-top: 1.5%;
}

.listElement {
  float: left;
}

.socialScale {
  height: 2em;
  width: auto;
}

.socialMargin {
  margin-left: 2%;
}

.footerBottom {
  margin-top: 5%;
  display: flex;
}

.footerBottomElement {
  flex-grow: 1;
}

.footerBottomRight {
  display: flex;
  justify-content: flex-end;
}

.searchTerm {
  padding-left: 20px;
  font-size: 13pt;
  border: 0;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.searchButton {
  border: 0;
  cursor: pointer;
  display: flex;
  height: 2em;
  width: 4em;
}

.searchIcon {
  margin: auto;
  scale: 0.8;
}

.bodyMargin {
  margin-top: 3%;
}

.lightShadow {
  box-shadow: 0 0 5px 1px #ccc;
}

.bodyTop {
  display: flex;
}

.searchBar {
  display: flex;
  flex-grow: 0.4;
}

.filler {
  flex-grow: 1;
}

.sortBar {
  flex-grow: 0.7;
}

.posterContainer {
  display: flex;
  max-width: 82%;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 2%;
}

.posterDiv {
  flex: 1 1 12%;
  padding: 1%;
  overflow: hidden;
}

.poster {
  width: 100%;
}

.posterTitle {
  padding-top: 5%;
  font-size: 13pt;
  color: #1e1e1e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
